<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML实验</title>
</head>
<body>

<!--<input type="text"/>-->
<!--<input type="password"/>-->
<!--<input type="file"/>-->

<!--性别-->
<!--男<input type="radio" name="n1"/>-->
<!--女<input type="radio" name="n1"/>-->

<!--爱好-->
<!--篮球<input type="checkbox"/>-->
<!--足球<input type="checkbox"/>-->

<!--<input type="button" value="登录"/>-->
<!--<input type="button" value="注册"/>-->

<!--<div>-->
<!--    <select>-->
<!--        <option>北京</option>-->
<!--        <option>上海</option>-->
<!--        <option>广州</option>-->
<!--    </select>-->

<!--    <select multiple>-->
<!--        <option>北京</option>-->
<!--        <option>上海</option>-->
<!--        <option>广州</option>-->
<!--    </select>-->
<!--</div>-->

<!--<div>-->
<!--    <textarea></textarea>-->
<!--    &lt;!&ndash;可设置style&ndash;&gt;-->
<!--</div>-->


<h3>用户注册</h3>

<div>
    用户名：<input type="text" placeholder="请输入用户名"/>
</div>

<div>
    密码：<input type="password" placeholder="请输入密码"/>
</div>

<div>
    头像：<input type="file"/>
</div>

<div>
    性别：
    男<input type="radio" name="n1"/>
    女<input type="radio" name="n1"/>
</div>

<div>
    爱好：
    篮球<input type="checkbox"/>
    足球<input type="checkbox"/>
    游泳<input type="checkbox"/>
</div>

<div>
    城市：
    <select>
        <option>北京</option>
        <option>上海</option>
        <option>广州</option>
    </select>
</div>

<div>
    其它：<textarea></textarea>
</div>

<div>
    <input type="button" value="提交"/>
</div>

</body>
</html>